<div class="backgroundpic1">
  <%= image_tag("slcnight.jpg") %>
</div>
<div class="logoimg1">

<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>


  <div class="field">
    <%= f.email_field :email, placeholder: :email %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <br>
  <h3>Change Password</h3>
  <div class="field">
    <%= f.password_field :password, autocomplete: "off", placeholder: :new_password %>
    <% if @minimum_password_length %>
      <br />
    <% end %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: :confirm_new_password %>
  </div>
<br>
  <div class="field">
    <%= f.password_field :current_password, autocomplete: "off", placeholder: :type_current_password_here_to_save %>
  </div>
<br>
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>
<br>
<h4>Unhappy? <br><br><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></h4>

<%= link_to "Back", :back, class: "btn" %>
</div>