<p id="notice"><%= notice %></p>
<%= form_for [@barber, @opening] do |f| %> 
	<%= f.hidden_field :barber_id, value: @barber.id %>
	<%= f.label :opening %>
	<%= f.datetime_select :opening %>
	<%= f.submit %>
<% end -%>