<div class="backgroundpic1">
  <%= image_tag("slcnight.jpg") %>
</div>
<div class="logoimg1">
  <%= image_tag("redslogo.png") %>
<div class="float_notifications">
</div>
  <%= link_to barbers_path do %>
    <%= fa_icon "arrow-right 3x", class: "pull-right" %>
  <% end -%>
  <p>
  	<%= image_tag @client.avatar.url(:medium) %>
  </p>
  <p>
    <%= @client.first_name %>
  </p>
  <p>
    <%= @client.last_name %>
  </p>
  <p>
    <%= @client.phone %>
  </p>
  <p>
    <%= @client.email %>
  </p>
  <br>
  <%= link_to 'Edit', edit_client_path(@client) %> |
  <%= link_to('Logout', destroy_client_session_path, :method => :delete, data: {confirm: "Are you sure?"}) %>      
</div>