
<p id="notice"><%= notice %></p>
<div class="profile_history">
<% if client_signed_in? %>
  <p>
    <%= link_to client_path(id: current_client) do %>
      <%= fa_icon "user-circle-o 3x", class: "pull-left" %>
    <% end -%>
    <%= link_to history_path(id: current_client) do %>
      <%= fa_icon "clock-o 3x", class: "pull-right" %>
    <% end -%>
  </p> 
<% end -%>
<% if barber_signed_in? %>
  <p>
    <%= link_to barber_path(id: current_barber) do %>
      <%= fa_icon "user-circle-o 3x", class: "pull-left" %>
    <% end -%>
    <%= link_to clients_path(id: current_barber) do %>
      <%= fa_icon "clock-o 3x", class: "pull-right" %>
    <% end -%>
  </p> 
<% end %>
</div>

<div class="page_logo">
  <%= image_tag("redslogo.png") %>
</div>
  <% if client_signed_in? %>
    <h3 class="banner">CHOOSE OPENING</h3>
  <% else %>
    <h3 class="banner">CURRENT OPENINGS</h3>
<% end -%>
<div class="field">
  <%= image_tag @barber.avatar.url(:thumb) %>
</div>
<h1>
	<%= @barber.first_name %>
</h1>

<table>
  <tbody>
    <% @openings.each do |o| %>
      <tr>
      <% if client_signed_in? or barber_signed_in? %>
        <td><%= link_to o.opening.strftime("%A, %B %d, %Y - %I:%M %P"), appointments_path(barber_id: o.barber.id, client_id: current_client, opening_id: o.id), method: :post %></td>
      <% else %>
        <td><%= link_to 'Sign In To See Openings', new_client_registration_path %></td>
        <td><%= link_to 'Edit', edit_opening_path %></td>

      <% end -%>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<!-- <div class="step_1">
  <h4><%= link_to "Choose Barber", barbers_path %></h4>
</div>
<div class="step_2">
  <h4><%= link_to "Choose Schedule", barber_path %></h4>
</div>
<div class="step_3">
  <h4>Reserve</h4>
</div> -->

<br>
<% if barber_signed_in? %>
<%= link_to('Logout', destroy_client_session_path, :method => :delete) %>  
<% end -%>    
