<div class="backgroundpic1">
  <%= image_tag("slcnight.jpg") %>
</div>
<div class="logoimg1">
  <%= image_tag("redslogo.png") %>

<h2>Log In</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.email_field :email, autofocus: true, placeholder: :email %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "off", placeholder: :password %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>
<div class="devise_link">
  <%= render "devise/shared/links" %>
</div>

</div>