<p id="notice"><%= notice %></p>

<h1>Scheduled Appointments</h1>

<table>
  <thead>
    <tr>
      <th>Barber</th>
      <th>Appointment</th>
      <th>Client</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.barber.first_name %></td>
        <td><%= appointment.appointment.strftime("%A, %B %d, %Y - %I:%M %P") %></td>
        <td><%= appointment.client.first_name %></td>
        <td><%= link_to 'Select', appointment %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Home', root_path %>