<p id="notice"><%= notice %></p>
<% if client_signed_in? %>
  <%= link_to 'My Profile', client_path(id: current_client) %>
<% end -%>
<h1>Reserve Now</h1>
<p>
	<strong>Barber:</strong>
	<%= @appointment.barber.first_name %>
</p>
<p>
	<strong>Day:</strong>
	<%= @appointment.appointment.strftime("%A, %B %d, %Y - %I:%M %P") %>
</p>
<p>
<strong>Service</strong>
	<%= form_for @appointment do |f| %>
		<% @services.each do |service| %>
			<div class="field" id="style_cut">
				<span><%= service.service_type %></span> 
		        <span><%= number_to_currency(service.cost) %></span>
		        <span><%= check_box_tag service.service_type, service.cost  %></span>
		    </div>
	    <% end %>
	   <h5>
	   		Total Due : <h5 class="totals"> 0 </h5>
	   </h5> 
    <% end %>
</p>
<h3>
	<%= link_to 'Reserve', new_charge_path %>
</h3> 
<br>
<div class="step_1">
  <h4><%= link_to "Choose Barber", barbers_path %></h4>
</div>
<div class="step_2">
  <h4><%= link_to "Choose Schedule", barber_path %></h4>
</div>
<div class="step_3">
  <h4>Reserve</h4>
</div>
<br>
<%= link_to 'Back', barber_path(@barber) %> 
