<p id="notice"><%= notice %></p>
<div class="container">
<% if client_signed_in? %>
  <p>
    <%= link_to client_path(id: current_client) do %>
      <%= fa_icon "user-circle-o 3x", class: "pull-left" %>
    <% end -%>
    <%= link_to history_path(id: current_client) do %>
      <%= fa_icon "clock-o 3x", class: "pull-right" %>
    <% end -%>
  </p> 
<% end -%>
<% if barber_signed_in? %>
  <p>
    <%= link_to barber_path(id: current_barber) do %>
      <%= fa_icon "user-circle-o 3x", class: "pull-left" %>
    <% end -%>
    <%= link_to clients_path(id: current_barber) do %>
      <%= fa_icon "clock-o 3x", class: "pull-right" %>
    <% end -%>
  </p> 
<% end %>
</div>

<div class="page_logo">
  <%= image_tag("redslogo.png") %>
</div>
<h3 class="banner">CHECKOUT</h3>
<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span><%= "$45.00" %></span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Hair Cut @ Redmond's Barbershop"
          data-amount="4500"
          data-locale="auto"></script>
<% end %>
<br>
<%= link_to 'Back', URI(request.referer).path %>